{% extends 'template_admin.html' %}

{% block title %} Admin {% endblock %}
{% block forms %}
<main class="container main">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Terminais</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-5 mb-5">
          <li class="text-muted p-1">Estoque</li>
          <li class="text-muted p-1">Modelos</li>
          <li class="text-muted p-1">Fornecedores</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-outline-primary">Acessar</button>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Entregas</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-5 mb-5">
          <li class="text-muted p-1">Status</li>
          <li class="text-muted p-1">Baixa</li>
          <li class="text-muted p-1">Relatório</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-primary">Acessar</button>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Outros</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-5 mb-5">
          <li class="text-muted p-1">Bobinas</li>
          <li class="text-muted p-1">Relatórios Gerais</li>
          <li class="text-muted p-1">Outros</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-primary">Acessar</button>
      </div>
    </div>
  </div>
</main>
{% endblock %}}