{% extends "template.html" %}


{% block contents %}
    <header class="jumbotron-fluid">
          <div class="py-5 text-center">
            <img class="d-block mx-auto mb-4" src="{{ url_for('static',filename='logo-avec-roxo-vertical.svg') }}" alt="" width="150" height="150">
            <h2>Gestão de POS</h2>
            <p class="lead">MVP de um sistema de entradas e saidas de terminais de POS para o time de Operções</p>
          </div>
        <di class="py-5 text-center">
            <p class=""><a class="btn btn-lg btn-success" href="{{ url_for('login') }}" role="button">Login</a></p>
        </di>
    </header>
{% endblock %}