 {% extends 'template.html' %}

 {% block title %} Admin {% endblock %}
 {% block contents %}
  <header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
   <h5 class="my-0 mr-md-auto font-weight-normal">{% block title_adm %}Gestão POS{% endblock %}</h5>
   <nav class="my-2 my-md-0 mr-md-3">
     <a class="p-2 text-dark" href="{{ url_for('cad_user') }}">Usuários</a>
     <a class="p-2 text-dark" href="{{ url_for('admin') }}">Admin</a>
   </nav>
   <a class="btn btn-outline-primary" href="{{ url_for('index') }}">Logout</a>
 </header>
 {% block forms %} {% endblock %}
 {% endblock %}}