{% extends 'template_admin.html' %}
{% block title_adm %}{{ super() }} - Cadastro de Usuários {% endblock %}
{% block forms %}
<main class="container" >
    <div class="row">
        <section class="col-md-4">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul id="messages" class="list-unstyled">
                    {% for message in messages %}
                        <li class="alert alert-info">{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            <form action="" method="POST">
                {{ form_cad.csrf_token }}
                <div class="form-group">
                    <label>Usuário</label>
                    {{ form_cad.username(class="form-control") }}
                </div>
                <div class="form-group">
                    <label>Senha</label>
                    {{ form_cad.password(class="form-control") }}
                </div>
                <div class="form-group">
                    <label>Cofirmar senha</label>
                    {{ form_cad.confirm_password(class="form-control") }}
                </div>
                <div class="form-group">
                    <label>Nome Completo</label>
                    {{ form_cad.name(class="form-control") }}
                </div>
                <div class="form-group">
                    <label>email</label>
                    {{ form_cad.email(class="form-control") }}
                </div>
                <button type="submit" class="btn btn-primary btn-block">Salvar</button>
            </form>
        </section>
        <section class="col-md-8 table-responsive form-user">
            <table class="table table-striped table-bordered table-sm">
                <thead>
                <tr>
                    <th class="th-sm">Id</th>
                    <th class="th-sm">Usuário</th>
                    <th class="th-sm">Nome</th>
                    <th class="th-sm">Email</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                <tr>
                    <th>{{ user.id }}</th>
                    <td>{{ user.username }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>
    </div>
</main>
{% endblock %}